<!DOCTYPE html>
<html>

<head>
    <base href="/static/compilerhome/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Online_compiler_design</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="contact-clean">
        <form method="post" action="/">
            {% csrf_token %}
            <h2 class="text-center">Programming Challenege</h2>
            <div class="form-group"><label>Write a simple program to counter the number of odd and even numbers in an array:<br><br>Sample IO:<br>INPUT:<br>2<br>7<br>1,2,3,4,5,6,7<br>5<br>0,0,0,-3,-2<br>OUTPUT:<br>odd:4 even:3<br>odd:1 even:4<br></label></div><label>Input:</label>
            <div
                class="form-group"><textarea class="form-control" name="input" placeholder="Begin your program here" rows="14"></textarea><label>Program:</label><textarea class="form-control" name="program" placeholder="Begin your program here" rows="14"></textarea>

                {% if output%}
                <label>Output:</label>
                <textarea
                    class="form-control" name="output" placeholder="Begin your program here" rows="14" style="padding: 5px;margin: 0px;margin-top: 0px;">{{output}}</textarea>
                {%endif%}
    </div>
    <div class="form-group" style="align-content: center;"><button class="btn btn-primary" type="submit" style="align-self: center;">Submit</button></div>
    </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>